.tableContainer {
  padding: 0.6em;
  border: 1px solid var(--clr-primary-350);
  overflow-y: scroll;
}

.table {
  border: 1px solid var(--clr-primary-350-50);

  border-radius: 0.25em;
}

.headingRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.headingRow li {
  padding: 0.6em;
  border: 1px solid var(--clr-primary-350-50);
}
